section{
    height: 90vh;
}
h3{
    text-align: center;
    padding-top: 5px;
    border-bottom: 1px solid #FFEE00;
    padding-bottom: 5px;
}

.plan-box{
    margin-top: 40px;
    border-radius : 5px;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #FFEE00;
    padding-top: 5px;
    padding-right: 5px;
    height: 65vh;
}
.plan-box div{
    padding: 15px;
    
}
.plan-box .border{
    border-bottom: 1px solid #FFEE00;
}




.skills p{
    display: inline;
    padding-left: 15px;
    padding-bottom: 10px;
    color:white;
}

.icon{
    padding-top: 10px;
}

