section{
    height: 90vh;
}
.photo{
    width: 75%;
    height: 75%;
    padding-top: 35px;
    padding-bottom: 85px;
    border-radius: 50%;
}

.text-box{
    padding-top: 150px;
}

.rakuten{
    color: #ff0000;
}