section{
    height: 90vh;
}


h4{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.project{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .row{
      padding-bottom: 20px;
  }