{% extends 'template.html' %}


{%block head%}
<link rel="stylesheet" href="../static/css/about.css">
{%endblock%}

{%block content%}

<section>
    <div class="row">
        <div class="col span-1-of-3">
            <div class="plan-box">
                <h3>EDUCATION</h3>
                <div class="row border">
                    <p>
                        NATIONAL INSTITUTE OF ENGINEERING<br>
                        <span style="color: white;">(2017 - Present)<br>
                        B.E. in Information Science<br>
                        CGPA: 9.26
                        </span>    
                    </p>     
                </div>
                
                <div class="row border">
                    <p>
                        SADVIDYA COMPOSITE PU COLLEGE<br>
                        <span style="color: white;">
                        (2015 - 2017)<br>
                        Percentage: 94  
                        </span>      
                    </p>     
                </div>

                <div class="row">
                    <p>
                        SADVIDYA HIGH SCHOOL<br>
                        <span style="color: white;">
                        (2012 - 2015)<br>
                        Percentage: 93.9
                        </span>        
                    </p>     
                </div>

            </div>

        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <h3>EXPERIENCE</h3>
                <div class="row border">
                    <p>
                        TECHNICAL INTERN<br>
                        <span style="color: white;">
                            <b>RAKUTEN INDIA</b><br>
                            (Feb 2021 – Present)<br>
                            Part of Data Science team.
                        </span>    
                    </p>     
                </div>
                
                <div class="row">
                    <p>
                        INTERN<br>
                        <span style="color: white;">
                            <b>CODEMONK</b><br>
                            (Dec 2019 – Jan 2020)<br>
                            Worked on a project related to wildlife conservation where computer
                            vision techniques were applied to improve the quality of images
                            captured from the camera traps for research and census purposes. 
                        </span>      
                    </p>     
                </div>
            
        </div>
    

    </div>
    <div class="col span-1-of-3">
        <div class="plan-box skills">
            <h3>SKILLS</h3>
            <p><img src="../static/images/c.png" alt="c  logo" class="icon">C</p>
            <p><img src="../static/images/c-plus.png" alt="c++  logo" class="icon">C++</p>
            <p><img src="../static/images/python.png" alt="python  logo" class="icon">Python<br></p>
            <p><img src="../static/images/java.png" alt="java  logo" class="icon">Java</p>
            <p><img src="../static/images/javascript.png" alt="js  logo" class="icon">Javascript<br></p>
            <p>OpenCV</p>
            <p><img src="../static/images/flask.png" alt="flask  logo" class="icon">Flask</p>
            <p><img src="../static/images/sql.png" alt="sql  logo" class="icon">SQL<br></p>
            <p><img src="../static/images/spring-boot.png" alt="spring-boot  logo" class="icon">Spring-Boot</p>
            <p><img src="../static/images/html.png" alt="html  logo" class="icon">HTML<br></p>
            <p><img src="../static/images/css-3.png" alt="css  logo" class="icon">CSS</p>
            <p><img src="../static/images/tableau.png" alt="tableau  logo" class="icon">Tableau</p>
            <p><img src="../static/images/git.png" alt="git  logo" class="icon">Git<br></p>
            <p><img src="../static/images/xml.png" alt="xml  logo" class="icon">XML</p>
            <p><img src="../static/images/web-scraping.png" alt="web-scraping  logo" class="icon">Web-Scraping<br></p>

        </div>
        </div>
        
        
    </div>
</section>



{%endblock%}
