{% extends 'template.html' %}


{%block head%}
<link rel="stylesheet" href="../static/css/certifications.css">
{%endblock%}

{%block content%}

<section>
    <div class="row">
        <div class="col span-1-of-4">
            <div class="row">
                <a href="https://www.hackerrank.com/certificates/7af9af848b7c"  target="_blank"><img src="../static/images/certificate.png" alt="certificate logo" class="certificate"></a>
                <h4>Javascript (Basics)</h4>
                <p>Issued by HackerRank</p>
            </div>

            <div class="row">
                <a href="https://www.hackerrank.com/certificates/30a2bf62a864"  target="_blank"><img src="../static/images/certificate.png" alt="certificate logo" class="certificate"></a>
                <h4>SQL (Basics)</h4>
                <p>Issued by HackerRank</p>
            </div>

        
        </div>

        <div class="col span-1-of-4">
            <div class="row">
                <a href="https://www.hackerrank.com/certificates/142d98999183"  target="_blank"><img src="../static/images/certificate.png" alt="certificate logo" class="certificate"></a>
                <h4>Python (Basics)</h4>
                <p>Issued by HackerRank</p>
            </div>

            <div class="row">
                <a href="https://courses.cognitiveclass.ai/certificates/88a3f2ddf1724892bd9cc96cec125a9b"  target="_blank"><img src="../static/images/certificate.png" alt="certificate logo" class="certificate"></a>
                <h5>Python for Data Science</h5>
                <p>Issued by Cognitive Class</p>
            </div>

            <div class="row">
                <a href="https://verify.skilljar.com/c/th3xnjbwaezz"  target="_blank"><img src="../static/images/badge.png" alt="certificate logo" class="certificate"></a>
                <h4>Tableau Author</h4>
                <p>Issued by Tableau Software</p>
            </div>

            

        </div>

        <div class="col span-1-of-4">
            <div class="row">
                <a href="https://www.hackerrank.com/certificates/7820f599ac33"  target="_blank"><img src="../static/images/certificate.png" alt="certificate logo" class="certificate"></a>
                <h4>Problem Solving (Basics)</h4>
                <p>Issued by HackerRank</p>
            </div>

            <div class="row">
                <a href="https://verify.skilljar.com/c/69njxmwqs7mx"  target="_blank"><img src="../static/images/certificate.png" alt="certificate logo" class="certificate"></a>
                <h5>Tableau Fundamentals</h5>
                <p>Issued by Tableau Software</p>
            </div>

            <div class="row">
                <a href="https://www.hackerrank.com/im_ashmj"  target="_blank"><img src="../static/images/ribbon.png" alt="certificate logo" class="certificate"></a>
                <h4>Gold Badge</h4>
                <p>Problem Solving, Python, Java<br> and Js by HackerRank</p>
            </div>

        </div>

        <div class="col span-1-of-4">
            <div class="row">
                <a href="https://www.hackerrank.com/certificates/acbf5fbf85e8"  target="_blank"><img src="../static/images/certificate.png" alt="certificate logo" class="certificate"></a>
                <h5>Problem Solving (Intermediate)</h5>
                <p>Issued by HackerRank</p>
            </div>

            <div class="row">
                <a href="https://www.credly.com/badges/ac409c8f-13e8-4868-b3fd-c1531592620f?source=linked_in_profile"  target="_blank"><img src="../static/images/badge.png" alt="certificate logo" class="certificate"></a>
                <h4>Tableau Consumer</h4>
                <p>Issued by Tableau Software</p>
            </div>

        </div>


        
    </div>
</section>
{%endblock%}
