{% extends 'template.html' %}


{%block head%}
<link rel="stylesheet" href="../static/css/contact.css">
{%endblock%}

{%block content%}
<section>
    <form action="{{url_for('contact')}}" class="contact-form" method="post">
        <div class="row">
            <div class="col span-1-of-3">
                <label for="name">Name</label>
            </div>
            <div class="col span-2-0f-3">
                <input type="text" name="name" id="name" placeholder="Your Name" required>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <label for="email">Email</label>
            </div>
            <div class="col span-2-0f-3">
                <input type="email" name="email" id="email" placeholder="Your Email" required>
            </div>
        </div>
         <div class="row">
            <div class="col span-1-of-3">
                <label for="msg">Message</label>
            </div>
            <div class="col span-2-0f-3">
                <textarea name="msg" id="msg" cols="30" rows="6" placeholder="Message" required></textarea>
            </div>
        </div>
        
        <div class="row">
            <div class="col span-1-of-3">
                <label>&nbsp;</label>
            </div>
            <div class="col span-2-0f-3">
                {% for mess in get_flashed_messages() %}
                    <h5>{{mess}}</h5>
                {% endfor %}
            </div>
          </div>

        <div class="row">
            <div class="col span-1-of-3">
                <label>&nbsp;</label>
            </div>
            <div class="col span-2-0f-3">
                <input type="submit" value="Submit" >
            </div>
          </div>
</form>

</section>
{%endblock%}