{% extends 'template.html' %}

{%block head%}
  <link rel="stylesheet" href="../static/css/home.css">
{%endblock%}

{%block content%}
<div class="row">
    <div class="col span-1-of-2">
        <img src="../static/images/prisma.jpg" alt="AMJ  image" class="photo">
    </div>
    <div class="col span-1-of-2"></div>
    <h1 class="text-box">Hello, I'm <span class="rakuten">Ashish M J</span>.
        <br>I'm Technical Intern @ <span class="rakuten">Rakuten</span>.</h1>
    </div>
</div>
</div>
{%endblock%}