<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ashish M J</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Supporting CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/css/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#">Ashish M J</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Certifications</a></li>
          <li><a class="nav-link scrollto " href="#work">Projects</a></li>
          <li><a class="nav-link scrollto " href="#blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(../static/images/background.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">I am Ashish M J</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Associate Software Engineer,@Rakuten India"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->



  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            
            <div class="credits">
              <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
            -->
              Designed by <a href="#">Ashish M J</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

-->
  <!-- Vendor JS Files -->
  <script src="../static/javascript/purecounter.js"></script>
  <script src="../static/javascript/bootstrap.bundle.min.js"></script>
  <script src="../static/javascript/glightbox.min.js"></script>
  <script src="../static/javascript/swiper-bundle.min.js"></script>
  <script src="../static/javascript/typed.min.js"></script>
  <script src="../static/javascript/typed.js"></script>
  <script src="../static/javascript/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/javascript/main.js"></script>

</body>

</html>