<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ashish M J</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Supporting CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/css/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#">Ashish M J</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#recognition">Recognitions</a></li>
          <li><a class="nav-link scrollto " href="#project">Projects</a></li>
          <li><a class="nav-link scrollto " href="#blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(../static/images/background.jpg);object-fit: cover;">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <ul>
            <li>
                <a href="https://www.linkedin.com/in/ashish-mj/"  target="_blank"><img src="../static/images/linkedin.png" alt="linkedin logo" class="linkedin"></a>
            </li>
            <li>
                <a href="https://github.com/ashish-mj"  target="_blank"><img src="../static/images/github.png" alt="github logo" class="github"></a>
            </li>
            <li>
                <a href="https://www.hackerrank.com/im_ashmj"  target="_blank"><img src="../static/images/hackerrank.png" alt="hackerrank logo" class="hackerrank"></a>
            </li>
            <li>
                <a href="https://medium.com/@ashishmj"  target="_blank"><img src="../static/images/medium.png" alt="medium logo" class="medium"></a>
            </li>
            <li>
              <a href="https://stackoverflow.com/users/14958077/ashish-m-j?tab=profile"  target="_blank"><img src="../static/images/stackoverflow.png" alt="stack-overflow logo" class="stack-overflow"></a>
            </li>

          </ul>
          <h1 class="hero-title mb-4">I am Ashish M J</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Associate Software Engineer,@Rakuten Symphony"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->


  <!-- ======= About Section ======= -->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="title-box-2">
                  <h5 class="title-left">
                    Experience
                  </h5>
                </div>
                <p class="lead">
                  <b><span style="color: #0062d3;">Associate Software Engineer</span></b></br>
                  <b><span style="color: black;">Rakuten Symphony </span></b>
                  <b> (Sept 2021 - Present)</b></br>
                  Working on a telecom project, that involves devoloping and fixing issues related to different microservices
                </br>
                </p>
                <p class="lead">
                  <b><span style="color: #0062d3;">Technical Intern</span></b></br>
                  <b><span style="color: black;">Rakuten India </span></b>
                  <b> (Feb 2021 - July 2021)</b></br>
                  Worked on an e-commerce project, that involved building data set considering key metrics and build dashboards using the built dataset
                </br>
                </p>
                <p class="lead">
                  <b><span style="color: #0062d3;">Software Engineer Intern</span></b></br>
                  <b><span style="color: black;">Codemonk </span></b>
                  <b> (Dec 2019 - Jan 2020)</b></br>
                  Worked on a project related to wildlife conservation where computer vision techniques were applied to improve the quality of images captured from the camera traps for research and census purposes.
                </br>
                </p>

                <div class="title-box-2">
                  <h5 class="title-left">
                    Education
                  </h5>
                </div>
                <p class="lead">
                  <b><span style="color: #0062d3;">National Institute of Engineering</span></b></br>
                  <b><span style="color: black;">B.E in Information Science </span></b></br>
                  <b> (Aug 2017 - Aug 2021)</b></br>
                  CGPA - 9.23/10
                </br>
                </p>
                
                <p class="lead">
                  <b><span style="color: #0062d3;">Sadvidya Composite PU College</span></b></br>
                  <b><span style="color: black;">PCMB </span></b></br>
                  <b> (Jun 2015 - July 2017)</b></br>
                  Percentage - 94
                </br>
                </p>

                <p class="lead">
                  <b><span style="color: #0062d3;">Sadvidya Composite PU College</span></b></br>
                  <b> (Jun 2012 - May 2015)</b></br>
                  Percentage - 93.9
                </br>
                </p>



                
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    An Associate Software Engineer with a demonstrated history of working in the internet industry. Skilled in trending technologies and a strong engineering professional with a Bachelor of Engineering focused in Information Technology from The National Institute Of Engineering, Mysore.
                  </p>
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Skills
                    </h5>
                    
                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/python.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 40px;">Python</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px; float: left; display: inline-block;">
                      <img src="../static/images/go.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 40px;">Golang</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/java.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 50px;">Java</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/springboot.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 30px;">Spring Boot</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/flask.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 50px;">Flask</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/mysql.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 50px;">MySQL</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/mongodb.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 30px;">MongoDB</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/couchbase.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 30px;">Couchbase</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/kafka.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 50px;">Kafka</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/snowflake.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 30px;">Snowflake</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/kibana.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 40px;">Kibana</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/tableau.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 30px;">Tableau</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/html-5.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 50px;">HTML</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/css-3.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 50px;">CSS</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/git.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 30px;">Git</figcaption>
                    </figure>

                    <figure style="padding-top: 15px; padding-right: 10px;float: left; display: inline-block;">
                      <img src="../static/images/confluence.png" alt="skills" class="skills">
                      <figcaption style="padding-left: 30px;">Confluence</figcaption>
                    </figure>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

<!-- ======= Recognition Section ======= -->
  <section id="recognition" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Recognitions
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/spot.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/spot.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Excellence Award</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Rakuten</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/problemsolving.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/problemsolving.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Problem Solving</h2>
                  <div class="w-more">
                    <span class="w-ctegory">HackerRank</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/kafka_funda.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/kafka_funda.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Kafka Fundamentals</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Confluent</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/mongodb_funda.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/mongodb_funda.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">MongoDB Basic</h2>
                  <div class="w-more">
                    <span class="w-ctegory">MongoDB University</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/couchbase_funda.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/couchbase_funda.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Couchbase Fundamentals</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Cousebase Academy</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/sql.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/sql.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">SQL</h2>
                  <div class="w-more">
                    <span class="w-ctegory">HackerRank</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/springboot_funda.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/springboot_funda.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Spring Boot Fundamentals</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Pluralsight</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/python_funda.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/python_funda.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Python</h2>
                  <div class="w-more">
                    <span class="w-ctegory">HackerRank</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/golang_funda.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/golang_funda.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Golang</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Udemy</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/java_funda.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/java_funda.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Java</h2>
                  <div class="w-more">
                    <span class="w-ctegory">HackerRank</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/postman.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/postman.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Postman API 101</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Postman</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/kibana_funda.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/kibana_funda.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Kibana Fundamentals</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Elastic Learning</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/kubernetes.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/kubernetes.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Kubernetes</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Pluralsight</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/datawarehouse.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/datawarehouse.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Data Wareshouse</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Snowflake University</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="../static/images/tableau_funda.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="../static/images/tableau_funda.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Tableau Fundamentals</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Tableau</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


          </div>
        </div>

      </div>
    </div>
  </section><!-- End Recognition Section -->



  <section id="project" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Projects
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <a href="https://github.com/ashish-mj/SnapLab" target="_blank"><img src="../static/images/snaplab_project.png" alt="projects" class="projects"></a>
            </div>
            <div class="service-content">
              <a href="https://github.com/ashish-mj/SnapLab" target="_blank"><h2 class="s-title">SnapLab</h2></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <a href="https://github.com/ashish-mj/AnA-Internet-service-provider" target="_blank"><img src="../static/images/ana.png" alt="projects" class="projects"></a>
            </div>
            <div class="service-content">
              <a href="https://github.com/ashish-mj/AnA-Internet-service-provider" target="_blank"><h2 class="s-title">A&A ISP</h2></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <a href="https://github.com/ashish-mj/Object-Code-Generatorb" target="_blank"><img src="../static/images/ocg.png" alt="projects" class="projects"></a>
            </div>
            <div class="service-content">
              <a href="https://github.com/ashish-mj/Object-Code-Generator" target="_blank"><h2 class="s-title">Object Code Generator</h2></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <a href="https://github.com/ashish-mj/ShabdKosh" target="_blank"><img src="../static/images/shabdkosh.png" alt="projects" class="projects"></a>
            </div>
            <div class="service-content">
              <a href="https://github.com/ashish-mj/ShabdKosh" target="_blank"><h2 class="s-title">Shabdkosh</h2></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <a href="https://github.com/ashish-mj/Covid-Tracker" target="_blank"><img src="../static/images/covidtracker.png" alt="projects" class="projects"></a>
            </div>
            <div class="service-content">
              <a href="https://github.com/ashish-mj/Covid-Tracker" target="_blank"><h2 class="s-title">Covid Tracker</h2></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <a href="https://covid19-resource-finder.herokuapp.com/" target="_blank"><img src="../static/images/covidresource.png" alt="projects" class="projects"></a>
            </div>
            <div class="service-content">
              <a href="https://covid19-resource-finder.herokuapp.com/" target="_blank"><h2 class="s-title">Covid Resource Finder</h2></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Project Section -->


      <!-- ======= Blog Section ======= -->
      <section id="blog" class="blog-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Blog
                </h3>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                  <a href="https://medium.com/dev-genius/snaplab-an-image-editor-web-application-59a6ec36e7e" target= _blank><img src="../static/images/snaplab.png" alt="" class="img-fluid"></a>
                </div>
                <div class="card-body">
                  
                  <h3 class="card-title"><a href="https://medium.com/dev-genius/snaplab-an-image-editor-web-application-59a6ec36e7e" target= _blank>Image Editor Web Application using OpenCV & Flask</a></h3>
                  <p class="card-description">
                    
                  </p>
                </div>
                <div class="card-footer">
                  <div class="post-author">
                    <a href="https://medium.com/@ashishmj" target= _blank>
                      <img src="../static/images/author.jpg" alt="" class="avatar rounded-circle">
                      <span class="author">Ashish M J</span>
                    </a>
                  </div>
                  <div class="post-date">
                     3 min
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                  <a href="https://medium.com/dev-genius/logging-in-python-adec94519755" target= _blank><img src="../static/images/logging.jpeg" alt="" class="img-fluid"></a>
                </div>
                <div class="card-body">
                  
                  <h3 class="card-title"><a href="https://medium.com/dev-genius/logging-in-python-adec94519755" target= _blank>Logging in Python</a></h3>
                  <p class="card-description">
                    This article aims to outline the basics of logging and create a simple project that documents every event into a log file
                  </p>
                </div>
                <div class="card-footer">
                  <div class="post-author">
                    <a href="https://medium.com/@ashishmj" target= _blank>
                      <img src="../static/images/author.jpg" alt="" class="avatar rounded-circle">
                      <span class="author">Ashish M J</span>
                    </a>
                  </div>
                  <div class="post-date">
                     3 min
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                  <a href="https://medium.com/dev-genius/yaml-with-python-d6787a9bd8ab" target= _blank><img src="../static/images/yaml.jpeg" alt="" class="img-fluid"></a>
                </div>
                <div class="card-body">
                  
                  <h3 class="card-title"><a href="https://medium.com/dev-genius/yaml-with-python-d6787a9bd8ab" target= _blank>YAML with Python</a></h3>
                  <p class="card-description">
                    This article aims to outline the basics of YAML and write a simple python script that reads configuration details from a YAML file
                  </p>
                </div>
                <div class="card-footer">
                  <div class="post-author">
                    <a href="https://medium.com/@ashishmj" target= _blank>
                      <img src="../static/images/author.jpg" alt="" class="avatar rounded-circle">
                      <span class="author">Ashish M J</span>
                    </a>
                  </div>
                  <div class="post-date">
                     3 min
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                  <a href="https://medium.com/dev-genius/kafka-with-python-4eb017b41e83" target= _blank><img src="../static/images/kafka.jpeg" alt="" class="img-fluid"></a>
                </div>
                <div class="card-body">
                  
                  <h3 class="card-title"><a href="https://medium.com/dev-genius/kafka-with-python-4eb017b41e83" target= _blank>YAML with Python</a></h3>
                  <p class="card-description">
                    This article aims to outline the core concepts of Apache Kafka and write simple producer and consumer programs using python
                  </p>
                </div>
                <div class="card-footer">
                  <div class="post-author">
                    <a href="https://medium.com/@ashishmj" target= _blank>
                      <img src="../static/images/author.jpg" alt="" class="avatar rounded-circle">
                      <span class="author">Ashish M J</span>
                    </a>
                  </div>
                  <div class="post-date">
                     3 min
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                  <a href="https://medium.com/dev-genius/web-scraping-with-couchbase-server-629da1e92c43" target= _blank><img src="../static/images/webscrape.jpeg" alt="" class="img-fluid"></a>
                </div>
                <div class="card-body">
                  
                  <h3 class="card-title"><a href="https://medium.com/dev-genius/web-scraping-with-couchbase-server-629da1e92c43" target= _blank>Web scraping with Couchbase</a></h3>
                  <p class="card-description">
                    This article aims to outline how to store the scraped data from the web into the couchbase server in three simple steps
                  </p>
                </div>
                <div class="card-footer">
                  <div class="post-author">
                    <a href="https://medium.com/@ashishmj" target= _blank>
                      <img src="../static/images/author.jpg" alt="" class="avatar rounded-circle">
                      <span class="author">Ashish M J</span>
                    </a>
                  </div>
                  <div class="post-date">
                     3 min
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </section><!-- End Blog Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(../static/images/contact.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message
                    </h5>
                  </div>
                  <div>
                    <form action="{{url_for('index',_anchor='contact')}}" method="post" role="form" class="php-email-form">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                          </div>
                        </div>
                        <div class="col-md-12 text-center my-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="col-md-12 text-center">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Have any questions? Reach out to me and I will get back to you shortly.

                      Feel free to follow me
                    </p>
    
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.linkedin.com/in/ashish-mj/"  target="_blank"><img src="../static/images/linkedin_blue.png" alt="linkedin logo" class="linkedin"></a></li>
                      <li><a href="https://www.instagram.com/ashmj.yaml/"  target="_blank"><img src="../static/images/instagram_blue.png" alt="instagram logo" class="instagram"></a></li>
                      <li><a href="https://github.com/ashish-mj"  target="_blank"><img src="../static/images/github_blue.png" alt="github logo" class="github"></a></li>
                      <li><a href="https://medium.com/@ashishmj"  target="_blank"><img src="../static/images/medium_blue.png" alt="medium logo" class="medium"></a></li>
                      <li><a href="https://twitter.com/im_ashmj"  target="_blank"><img src="../static/images/twitter_blue.png" alt="twitter logo" class="twitter"></a></li>
                    </ul>
                  </div>
                  {% for mess in get_flashed_messages() %}
                    <h4 style="color: #28A6EF;">{{mess}}</h5>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->
  




  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            
            <div class="credits">
              <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
            -->
              Designed by <a href="#">Ashish M J</a>
              <ul>
                <li>
                    <a href="https://www.linkedin.com/in/ashish-mj/"  target="_blank"><img src="../static/images/linkedin.png" alt="linkedin logo" class="linkedin"></a>
                </li>
                <li>
                    <a href="https://github.com/ashish-mj"  target="_blank"><img src="../static/images/github.png" alt="github logo" class="github"></a>
                </li>
                <li>
                    <a href="https://www.hackerrank.com/im_ashmj"  target="_blank"><img src="../static/images/hackerrank.png" alt="hackerrank logo" class="hackerrank"></a>
                </li>
                <li>
                    <a href="https://medium.com/@ashishmj"  target="_blank"><img src="../static/images/medium.png" alt="medium logo" class="medium"></a>
                </li>
                <li>
                  <a href="https://stackoverflow.com/users/14958077/ashish-m-j?tab=profile"  target="_blank"><img src="../static/images/stackoverflow.png" alt="stack-overflow logo" class="stack-overflow"></a>
                </li>
    
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  

  <!-- Vendor JS Files -->

  <script src="../static/javascript/purecounter.js"></script>
  <script src="../static/javascript/bootstrap.bundle.min.js"></script>
  <script src="../static/javascript/glightbox.min.js"></script>
  <script src="../static/javascript/swiper-bundle.min.js"></script>
  <script src="../static/javascript/typed.min.js"></script>
  <script src="../static/javascript/typed.js"></script>
  <!--<script src="../static/javascript/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="../static/javascript/main.js"></script>

</body>

</html>