{% extends 'template.html' %}


{%block head%}
<link rel="stylesheet" href="../static/css/project.css">
{%endblock%}

{%block content%}

<section>
    <div class="row">
        <div class="col span-1-of-4">
            <div class="row">
                <a href="https://github.com/ashish-mj/SnapLab"  target="_blank"><img src="../static/images/snaplab.png" alt="project logo" class="project"></a>
                <h4>SnapLab</h4>
            </div>

            <div class="row">
                <a href="https://covidindia-tracker.herokuapp.com"  target="_blank"><img src="../static/images/covidtracker.png" alt="project logo" class="project"></a>
                <h4>Covid Tracker</h4>
            </div>

        
        </div>

        <div class="col span-1-of-4">
            <div class="row">
                <a href="https://github.com/ashish-mj/AnA-Internet-service-provider"  target="_blank"><img src="../static/images/ana.png" alt="project logo" class="project"></a>
                <h4>A&A ISP</h4>
            </div>

            <div class="row">
                <a href="https://covid19-resource-finder.herokuapp.com/"  target="_blank"><img src="../static/images/finder.png" alt="project logo" class="project"></a>
                <h4>Covid Resource Finder</h4>
            </div>

        </div>

        <div class="col span-1-of-4">
            <div class="row">
                <a href="https://github.com/ashish-mj/Object-Code-Generator"  target="_blank"><img src="../static/images/ocg.png" alt="project logo" class="project"></a>
                <h4>Object Code Generator</h4>
            </div>

            <div class="row">
                <a href="https://github.com/ashish-mj/Funzo"  target="_blank"><img src="../static/images/funzo.png" alt="project logo" class="project"></a>
                <h4>Funzo</h4>
            </div>

        </div>

        <div class="col span-1-of-4">
            <div class="row">
                <a href="https://github.com/ashish-mj/ShabdKosh"  target="_blank"><img src="../static/images/shabdkosh.png" alt="project logo" class="project"></a>
                <h4>ShabdKosh</h4>
            </div>
            <div class="row">
                <a href="https://github.com/ashish-mj/NewsHub"  target="_blank"><img src="../static/images/newshub.png" alt="project logo" class="project"></a>
                <h4>NewsHub</h4>
            </div>

        </div>


        
    </div>



</section>

{%endblock%}